.slider_bg_1{
    background-image: url(../img/banner/truck_1.png);
}
.slider_bg_2{
    background-image: url(../img/banner/truck_2.png);
}
.slider_bg_3{
    background-image: url(../img/banner/truck_3.png);
}

.slider_area{
    .single_slider{
        height: 900px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        @media #{$mobile_device} {
            height: 100vh;
        }
        .slider_text{
            h3{
                color: #FFF;
                font-family: "Poppins", sans-serif;
                font-size: 50px;
                text-transform: capitalize;
                letter-spacing: 2px;
                font-weight: 400;
                line-height: 62px;
             span{
                 font-weight: 700;
             }
             @media #{$mobile_device} {
                margin-top: 45px;
            }
             @media #{$mobile_device} {
               font-size: 30px;
            //    letter-spacing: 3px;
            line-height: 35px;
            }
             @media #{$tablet_device} {
               font-size: 30px;
            }
             @media #{$mid_device} {
               font-size: 35px;
               letter-spacing: 3px;
            }
            }
            p{
                font-size: 20px;
                font-weight: 400;
                color: #D5D5D5;
                margin-bottom: 24px;
                margin-top: 10px;
             @media #{$mid_device} {
                font-size: 16px;
             }
             @media #{$mobile_device} {
                font-size: 16px;
             }
            }
            .video_service_btn> a{
                margin-right: 15px;
                @media #{$mobile_device} {
                    margin-bottom: 20px;
                }
            }
        }
    } 
}